<!DOCTYPE html>
<html>
    <head>
        <!--Responsive tag-->
        <meta name="viewport" content="width=device-width, user-scalable=no">
        
        <!--Styles-->
        <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
        
        <!--Libraries-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="js/lib/semantic.min.js"></script>
        <script src="js/lib/annyang.min.js"></script>
        <!--<script src="js/leap.min.js"></script>-->
        <script src="https://js.leapmotion.com/0.2.0-beta1/leap.min.js"></script>
        
    </head>
    <body>
        <div id="app">
            <div>
                <h1 class="ui center aligned header">Factorial</h1>
                <div class="ui raised very padded text container segment">
                    <h2 class="ui header">Número: {{number}}</h2>
                    <h2 v-if="this.result != null" class="ui header">{{steps}} = {{result}}</h2> 
                    <h2 class="ui header">Factorial: {{result}}</h2> 
                </div>
                <div class="ui raised very padded text container">
                    <div class="four column centered row">
                        <div class="ui icon input">
                            <input type="number" v-model="number" placeholder="Escribe el númerillo" />
                        </div>
                        <button class="ui right labeled icon button" @click="getResult()">
                            <i class="right arrow icon"></i>
                            Darle
                        </button>
                        <button class="ui labeled icon button" @click="toggle()">
                            <i class="microphone icon"></i>    
                            <label v-if="listen">Detener</label>
                            <label v-else>Escuchar</label>
                        </button>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui container">
                    <div class="ui centered grid">
                        <div class="ui card">
                                <div class="content">
                                    <div class="header">Instrucciones</div>
                                    <!--<div class="meta">
                                    <span>texto en gris</span>
                                    <a>mas texto en gris</a>
                                    </div>-->
                                    <p>* Di un numero para que aparesca en pantalla</p>
                                    <p>* Di 'calcular' para obtener el factorial</p>
                                    <p>* Di 'borrar' para borrar el numero dicho o limpiar la pantalla</p>
                                    <p>* Di 'Deja de escucharme' para detener la grabación del microfono</p>
                                    <p>* También puedes decir 'Factorial de' seguido de un número y el factorial se calculará automaticamente</p>
                                    <p>* O hazlo manual</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Add VueJs-->
        <script src="js/lib/vue.min.js"></script>
        <script src="js/vueModule.js"></script>
        <!--Scripts-->
        <script src="js/voiceScript.js"></script>
        <script src="js/leapScript.js"></script>
    </body>
</html>